<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlickBee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A05253051BE9F271007EF74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A052531E1BE9F271007EF74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05253291BE9F271007EF74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
